<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    
    <%-include('partials/nav.ejs')%>
    
    <section>
        <form action="/alumnos" method="post">
        
        <input type="number" id="matricula" name="matricula" placeholder="Matricula" required>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
        <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
        <input type="text" name="sexo" id="sexo" placeholder="M o F" required>
        <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad" required>

        <div style="float:right; margin-right: 5.5rem;margin-top: 1rem;">
            <button type="submit">Enviar informacion</button>

        </div>
        </form>

        <div class="container">

            <table class="table table-hover">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Especialidad</th>
                </tr>

                <%
                for(var i=0; i <reg.length ; ++i ){ %>
                    <tr>
                        <td><%=reg[i].id_alumnos%></td>
                        <td><%=reg[i].matricula%></td>
                        <td><%=reg[i].nombre%></td>
                        <td><%=reg[i].domicilio%></td>
                        <td><%=reg[i].sexo%></td>
                        <td><%=reg[i].especialidad%></td>
                    </tr>
                    <%
                    
                }
                %>
            </table>

        </div>

    </section>


    <%-include('partials/footer.ejs')%>
</body>
</html>