<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    /* Estilos generales */
    body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.formulario h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.inputs label,
.select label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputs input[type="number"],
.inputs input[type="text"],
.select select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select {
    position: relative; /* Para alinear el icono del desplegable si es necesario */
}

.select:after {
    /* Estilos para el icono del desplegable, si lo deseas */
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    pointer-events: none;
    transform: translateY(-50%);
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.botones button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #4CAF50; /* Verde Material Design */
    cursor: pointer;
}

.botones button:hover {
    background-color: #45a049;
}

.botones a {
    /* Estilos para el botón 'Limpiar' si está implementado como enlace */
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

.botones a:hover {
    background-color: #45a049;
}
</style>
<body>
    <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
<section>
  <div class="contenedor">
  <form class="formulario" action="/cotizacion" method="post">
    <div class="inputs">
      <h1>Cotizacion</h1>
        <label for="">Folio</label>
        <input type="number" name="folio" id="folio" required value="<%=folio%>"/>
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" id="descripcion" required value="<%=descripcion%>">
        <label for="">Valor del Automovil</label>
        <input type="number" name="valor" id="valor" required value="<%=valor%>" />
        <label for="">Porcentaje de pago inicial</label>
        <input type="number" name="pInicial" id="pInicial"  required value="<%=pInicial%>"/>
    </div>
    <div class="select">
        <label for="">Plazo en meses</label>
        <select class="" name="plazos" id="plazos"  required value="<%=plazos%>">
          <option value="12">12 meses</option>
          <option value="24">24 meses</option>
          <option value="36">36 meses</option>
          <option value="48">48 meses</option>
          <option value="60">60 meses</option>
        </select>
    </div>
    <div class="botones">
        <button type="submit">Calcular</button>
        <button><a href="/cotizacion">Limpiar</a></button>

    </div>
  
  </form>

  <%
  if(valor){
      pInicial = valor * (pInicial / 100);
      let cuota = (valor - pInicial) / plazos;
      cuota = cuota.toFixed(2);
      let financiar = valor- pInicial
      %>
      
      <br>
      <h1>Resumen</h1>
      <BR></BR>
      <table class="resumen">
        <thead>
          <tr>
            <th>Folio</th>
            <th>Descripcion</th>
            <th>Valor del Automovil</th>
            <th>Porcentaje del pago inicial</th>
            <th>Plazo en meses</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%=folio%></th>
            <th><%=descripcion%></th>
            <th><%=valor%></th>
            <th><%=pInicial%></th>
            <th><%=plazos%></th>
          </tr>
        </tbody>
      </table>
      
      <br>
      <h1>Resultados</h1>
      <br>
      <table class="resultados">
      
        <thead>
          
          <tr>
            <th>Pago inicial</th>
            <th>Total a Financiar</th>
            <th>Valor de la Mensualidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>$<%=pInicial%></th>
            <th>$<%=financiar%></th>
            <th>$<%=cuota%></th>
          </tr>
        </tbody>
      </table>
      <%
  }
  %>  
</div>
</section>
<%- include('partials/footer.ejs')%>
</body>
</html>